In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
numbers=[1,2,3,4,5]
sum_of_numbers = 0
for number in numbers:
    sum_of_numbers += number
print("sum of numbers is:",sum_of_numbers)

sum of numbers is: 15

In [4]:
string1="hello world"
reversed_string=" "
for char in reversed(string1):
    reversed_string += char
print("reversed string:",reversed_string)

reversed string:  dlrow olleh

In [7]:
def factorial(n):
    factorial = 1
    for i in range (1,n+1):
        factorial *= i
    return factorial 

number =5 
print("the factorialof",number,"is",factorial(number))

the factorialof 5 is 120

In [9]:
def multiplication_table(n):
    for i in range(1,11):
        print(n,"x",i,"=",n*i)
number=17
multiplication_table(number)

17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

In [12]:
numbers=[1,2,3,4,5,6,7,8,9,10,45,866,41,43]
even_count=0
odd_count=0
for number in numbers:
    if number %2 == 0:
        even_count+=1
    else :
        odd_count +=1
        
print("no. of even count:",even_count)
print("no. of odd count:", odd_count)

no. of even count: 6
no. of odd count: 8

In [16]:
for i in range(1, 6):
    print(i*i)

1
4
9
16
25

In [17]:
string1

'hello world'

In [18]:
length=0
for char in string1:
    length += 1

print(f"the length of string is {length}")

the length of string is 11

In [19]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 45, 866, 41, 43]

In [23]:
def average(numbers):
    total=0
    count=0
    for number in numbers:
        total += number
        count += 1
    return total/count
    
average= average(numbers)
print("the average of the numbers is:",average)

the average of the numbers is: 75.0

In [27]:
n=int(input("Enter the number of fibonacci numbers to generate:"))
fibonacci_0=0
fibonacci_1=1
if n <= 0 :
    print('please enter a positive integer.')
elif n == 1:
    print(f"The first {n} Fibonacci number is {fibonacci_0}")
else :
          print(f"The first {n} Fibonacci number are:")
          print(fibonacci_0)
          print(fibonacci_1)
          
for i in range(2,n):
          fibonacci_next= fibonacci_0 + fibonacci_1
          print(fibonacci_next)
          fibonacci_0,fibonacci_1=fibonacci_1,fibonacci_next

Enter the number of fibonacci numbers to generate:15
The first 15 Fibonacci number are:
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

In [35]:
def contains_duplicates(list):
    seen = set()
    for item in list:
        if item in seen:
            return True 
        seen.add(item)
    return False

list=[1,2,3,4,5]
print("The list contains duplicates:",contains_duplicates(list))

list=[1,2,3,4,5,5]
print("The list cantains duplicates",contains_duplicates(list))

The list contains duplicates: False
The list cantains duplicates True

In [43]:
def print_prime_numbers(start,end):
    for number in range(start, end+1):
        is_prime= True 
        for i in range (2, int(number **0.5)+1):
            if number % i == 0:
                is_prime = False
                break
        if is_prime:
            print(number,end=" ")
                
start=int(input("Enter the strating number:"))
end = int(input("Enter the ending number:"))
print_prime_numbers(start,end)

Enter the strating number:15
Enter the ending number:25
17 19 23

In [46]:
string1

'hello world'

In [48]:
def count_vowels(string1):
    vowels="aeiou"
    count=0
    for  letter in string1: 
        if letter in vowels:
            count += 1
    return count
vowel_count = count_vowels(string1)
print("The number of vowels in string is:",vowel_count)

The number of vowels in string is: 3

In [68]:
def find_max_element(list):
    max_element = list[0][0]
    for row in list:
        for element in row:
            if element > max_element:
                max_element= element
    return max_element

list=[[1,2,3],[2,3,4],[3,4,5],[2,3,17]]
max_element = find_max_element(list)
print("the maximum element in list is",max_element)

the maximum element in list is 17

In [20]:
def remove_all_occurrences(list,element):
    new_list=[]
    for i in list:
        if i != element:
            new_list.append(i)
    return new_list
list=[1,2,2,3,4,5]
element=2
result_list=remove_all_occurrences(list,element)
print(result_list)

[1, 3, 4, 5]

In [24]:
start=1
end=5
for i in range(start,end+1):
    for j in range(start,end+1):
        product=i*j
        print(f"{i}x{j} ={product}\t",end="")
    print()

1x1 =1	1x2 =2	1x3 =3	1x4 =4	1x5 =5
2x1 =2	2x2 =4	2x3 =6	2x4 =8	2x5 =10
3x1 =3	3x2 =6	3x3 =9	3x4 =12	3x5 =15
4x1 =4	4x2 =8	4x3 =12	4x4 =16	4x5 =20
5x1 =5	5x2 =10	5x3 =15	5x4 =20	5x5 =25

In [32]:
fahrenheit_temperatures=[32,69,95,104,212]
celsius_temperatures=[]
for fahrenheit in fahrenheit_temperatures:
    celsius=(fahrenheit-32)*5/9
    celsius_temperatures.append(celsius)
    
for i in range(len(fahrenheit_temperatures)):
               print(f"{fahrenheit_temperatures[i]}'F = {celsius_temperatures[i]:.2f}'C ")

32'F = 0.00'C
69'F = 20.56'C
95'F = 35.00'C
104'F = 40.00'C
212'F = 100.00'C

In [62]:
for element in list1:
    if element in list2:
        print(element)
            
            
list1 = [1,5,6,8,9]
list2 = [2,6,9,7,4]

print()

6
9

In [64]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [93]:
def gdc(a,b):
    for i in range (min(a,b),0,-1):
        if a % i == 0 and b % i == 0:
            return i
    
a = 630
b = 240
print(gcd(a,b))

30

In [104]:

def sum_of_digits(numbers):
    return [sum(int(digit) for digit in str(number)) for number in numbers]

numbers = [12,45,96]
print(sum_of_digits(numbers))

[3, 9, 15]

In [124]:
def prime_factors(number):
    factors = []
    for i in range(2, number + 1):
        while number % i == 0:
            factors.append(i)
            number //= i
    return factors

number= 36
print(prime_factors(number))

[2, 2, 3, 3]

In [4]:
list1 =[1,2,6,2,4,8,6,1]
unique_list=[]

for x in list1:
    if x not in unique_list:
        unique_list.append(x)
    
print(unique_list)

[1, 2, 6, 4, 8]

In [8]:
limit=2000
palindromes = []

for i in range(limit):
    number= str(i)
    if number == number[::-1]:
        palindromes.append(i)
        
print(palindromes)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999, 1001, 1111, 1221, 1331, 1441, 1551, 1661, 1771, 1881, 1991]

In [11]:
list2=[[1,2,3],[4,5,6],[7,8,9],[10,11,12]]
flat_list=[]

for sublist in list2:
    flat_list.extend(sublist)
    
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [12]:
list1

[1, 2, 6, 2, 4, 8, 6, 1]

In [14]:
even_number_sum= sum([x for x in list1 if x % 2==0])
odd_number_sum= sum([x for x in list1 if x % 2==1])
print("even_number_sum",even_number_sum)
print("odd_number_sum",odd_number_sum)

even_number_sum 28
odd_number_sum 2

In [15]:
odd_numbers=[x for x in range(1,11) if x % 2 ==1]
squares_of_odd_numbers=[x*x for x in odd_numbers]
print(squares_of_odd_numbers)

[1, 9, 25, 49, 81]

In [16]:
list1=['a','b','c']
list2=[1,2,3]
dictionary={key: value for key,value in zip(list1,list2)}
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

In [18]:
string="i am data scientist"
vowels=[letter for letter in string if letter in "aeiou"]
print(vowels)

['i', 'a', 'a', 'a', 'i', 'e', 'i']

In [23]:
string2=['i am data scientist153','with salary 50000','@ Accenture143']
numeric_strings= [''.join(char for char in string if char.isdigit()) for string in string2]
print(string2)
print(numeric_strings)

['i am data scientist153', 'with salary 50000', '@ Accenture143']
['153', '50000', '143']

In [8]:
n=int(input("Enter a number to find prime numbers up to that number: "))
is_prime=[True]*(n+1)
is_prime[0]=is_prime[1]= False
for p in range(2,int(n**0.5)+1):
    if is_prime[p]:
        is_prime[p*p::p]=[False]*len(is_prime[p*p::p])
prime_numbers=[i for i in range(2,n+1) if is_prime[i]]

print("prime number up to",n,"are:",prime_numbers)

Enter a number to find prime numbers up to that number: 150
prime number up to 150 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

In [13]:
limit=int(input("Enter a limit to find pythagorean triplets up to that limit: "))
pythagorean_triplets=[(a,b,c) for a in range(1,limit+1)
                      for b in range(a,limit+1)
                      for c in range(b,limit+1)
                      if a**2+b**2 == c**2]
pythagorean_triplets= list(set(pythagorean_triplets))
pythagorean_triplets.sort()

print("pythagorean_triplets up to",limit,"are:",pythagorean_triplets)

Enter a limit to find pythagorean triplets up to that limit: 25
pythagorean_triplets up to 25 are: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (12, 16, 20), (15, 20, 25)]

In [14]:
list1=[1,2,3]
list2=[4,5,6]
combinations= []
for item1 in list1:
    for item2 in list2:
        combinations.append((item1,item2))
        
print(combinations)

[(1, 4), (1, 5), (1, 6), (2, 4), (2, 5), (2, 6), (3, 4), (3, 5), (3, 6)]

In [27]:
numbers=[float(x) for x in input("Enter a list of numbers separated by spaces: ").split()]
mean=sum(numbers)/len(numbers)

sorted_numbers=sorted(numbers)
median=sorted_numbers[len(sorted_numbers)//2] if len(sorted_numbers) %2 == 1 else \
       (sorted_numbers[len(sorted_numbers)//2-1] + sorted_numbers[len(sorted_numbers)//2])/2
number_counts={x: numbers.count(x) for x in numbers}
mode =max(numbers, key=numbers.count)
print("mean:",mean)
print("median:",median)
print("mode:",mode)

Enter a list of numbers separated by spaces: 12 25 36
mean: 24.333333333333332
median: 25.0
mode: 12.0

In [2]:
num_rows=int(input("Enter the number of rows for pascal's triangle: "))
pascals_triangle=[[1] * (row + 1) for row in range(num_rows)]
for row in range(2, num_rows):
    for col in range(1,row):
        pascals_triangle[row][col] = pascals_triangle[row - 1][col - 1] +pascals_triangle[row - 1][col]
        
for row in pascals_triangle:
    print(' '.join(map(str,row)).center(num_rows*3))

Enter the number of rows for pascal's triangle: 15
                      1
                     1 1
                    1 2 1
                   1 3 3 1
                  1 4 6 4 1
                1 5 10 10 5 1
               1 6 15 20 15 6 1
             1 7 21 35 35 21 7 1
            1 8 28 56 70 56 28 8 1
         1 9 36 84 126 126 84 36 9 1
     1 10 45 120 210 252 210 120 45 10 1
   1 11 55 165 330 462 462 330 165 55 11 1
 1 12 66 220 495 792 924 792 495 220 66 12 1
1 13 78 286 715 1287 1716 1716 1287 715 286 78 13 1
1 14 91 364 1001 2002 3003 3432 3003 2002 1001 364 91 14 1

In [6]:
def factorial(n):
    result=1
    for i in range(1,n+1):
        result *= i
    return result
factorial_sums= [sum(map(int,str(factorial(i)))) for i in range(1,6)]
for i, factorial_sums in enumerate(factorial_sums , start=1):
    print(f"The sum of digits of {i}! is {factorial_sums}")

The sum of digits of 1! is 1
The sum of digits of 2! is 2
The sum of digits of 3! is 6
The sum of digits of 4! is 6
The sum of digits of 5! is 3

In [9]:
sentence= input("Enter a sentence: ")
words = sentence.split()
longest_word = max(words,key=len)
print("The longest word(s) in the sentence is\are:",longest_word)

Enter a sentence: i am vishal motirale
The longest word(s) in the sentence isre: motirale

In [11]:
strings=["hello","i am","vishal","motirale"]
filtered_strings = [string for string in strings if len(set(string).intersection("aeiou"))>3]
print(filtered_strings)

['motirale']

In [15]:
digit_sums=[sum(int(digit) for digit in str(number)) for number in range(1,1001)]
total_sum = sum(digit_sums)
print(total_sum)

13501

In [17]:
prime_palindromic_numbers= [num for num in range(2,1000) if all (num % i != 0 for i in range(2, int(num**0.5) + 1))and str(num) == str(num) [::-1]]
print("prime palindromic numbers up to 1000 are:", prime_palindromic_numbers)

prime palindromic numbers up to 1000 are: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]

In [18]:
#DONE